<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CP17310</title>
</head>

<body>

    <h1>Tieu de trang Web</h1>

    {{!-- {{#if showBody}}
    {{{body}}}
    {{/if}} --}}

    <p>So A: {{soA}}</p>
    <p>So B: {{soB}}</p>
    <p>Phep tinh: {{operator}}</p>
    <p>Ket qua la: {{kq}}</p>

</body>

</html>